#about {
  padding-top: 0px;
  @media (min-width: $breakpoint-small) {
  padding-top: 60px;
}
  p {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .uk-button {
    background: $light-gray;
    margin-bottom: 60px;
    margin-top: 0px;
  }
}
