#intro {
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 95vh;
  background: #112644;
  background: $blueGradient;
  @media (min-width: $breakpoint-small) {
    min-height: 80vh;
  }

  #title {
    z-index: 1;
    text-align: center;
    @media (min-width: $breakpoint-small) {
      text-align: center;
      width: 100%;
    }
    @media (min-width: 1060px) {
      text-align: left;
      width: auto;
    }

    h4 {
      font-size: 14px;
      line-height: 18px;
      font-weight: 100;
      @media (min-width: $breakpoint-small) {}
      @media (min-width: 1060px) {
        font-size: 14px;
        line-height: 18px;
      }
    }

    h1 {
      font-size: 42px;
      line-height: 50px;
      letter-spacing: -0.01em;
      @media (min-width: $breakpoint-small) {
        font-size: 82px;
        line-height: 80px;
        letter-spacing: -0.01em;
      }
      @media (min-width: $breakpoint-medium) {
        // font-size: 96px;
        // line-height: 90px;
        // letter-spacing: -0.01em;
      }
      @media (min-width: $breakpoint-large) {
        font-size: 96px;
        line-height: 90px;
        letter-spacing: -0.01em;
      }
    }
  }

  #caption {
    z-index: 1;
    padding-top: 0px;
    text-align: center;
    @media (min-width: $breakpoint-small) {
    }
    @media (min-width: 1060px) {
      padding-top: 190px;
      text-align: left;
    }
    @media (min-width: $breakpoint-large) {
      padding-top: 205px;
    }

    h4 {
      font-size: 12px;
      line-height: 15px;
      font-weight: 100;
      margin: 0;
      @media (min-width: $breakpoint-small) {}
      @media (min-width: 1060px) {
        font-size: 14px;
        line-height: 15px;
      }
      span#sub-caption {
        display: block;
        @media (min-width: $breakpoint-small) {
          display: inline-block;
        }
      }

      .uk-icon {
        // border-radius: 50%;
        // border: thin solid $white;
        padding-right: 5px;
        margin-bottom: 0;

        svg {
          width: 12px;
          height: 12px;

          padding-bottom: 1px;
          @media (min-width: $breakpoint-small) {
            width: 15px;
            height: 15px;
            display: inline-block;
          }
        }
      }
    }

    .caption-text {
      max-width: 450px;
      border-top: thin solid $white;
      padding-top: 20px;
      margin-top: 30px;
      line-height: 1.7em;
      text-align: justify;
      @media (min-width: $breakpoint-small) {
        max-width: 420px;
        padding-top: 25px;
        margin-top: 25px;
      }
      @media (min-width: $breakpoint-medium) {
        padding-top: 25px;
        margin-top: 25px;
      }
      @media (min-width: $breakpoint-large) {}
    }

    .uk-button {
      background: $blue;
      color: $white;
      box-shadow: 0 2px 10px rgba($black, 0.4);
      letter-spacing: -0.05em;
      margin-top: 15px;
      @media (min-width: $breakpoint-medium) {
        margin-top: 15px;
      }
      @media (min-width: $breakpoint-large) {}
    }
  }

  #chart-graphic {
    width: 150%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    @media (min-width: $breakpoint-small) {
      bottom: -200px;
      width: 120%;
    }
    @media (min-width: $breakpoint-medium) {
      bottom: -300px;
    }

    svg {
      polygon#bg1 {
        fill: none;
        filter: drop-shadow(0px 2px 15px #000);
        stroke: rgba($white, 0.3);
        animation: rotateLeft 10s ease-out infinite;
      }

      polygon#bg2 {
        // fill: #00cfff;
        fill: none;
        stroke: rgba($white, 0.3);
        filter: drop-shadow(0px 2px 15px #000);
        animation: rotateRight 10s ease-out 2s infinite;
      }

      polygon#bg3 {
        // fill: #1263a0;
        fill: none;
        stroke: rgba($white, 0.3);
        filter: drop-shadow(0px 2px 15px #000);
        animation: rotateLeft 10s ease-out 4s infinite;
      }
    }
  }

  #logo {
    width: 135px;
    display: inline-block;
    margin-bottom: -4px;
    margin-left: 8px;

    #industry {
      width: 135px;
      fill: #ffffff !important;

      .blue-fill {
        fill: #ffffff;
      }

      .cls-1 {
        fill: #ffffff;
      }

      .cls-2 {
        fill: none;
        stroke: #ffffff;
      }
      // rect {
      //   animation: animate-width 5s ease-out infinite;
      // }
    }
  }

  #series {}

  #logo:hover #st8 {
    // opacity: 0.5;
  }
}

#learn-points {
  // background: $blue;
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 70px;

  h2 {
    top: -65px;
    left: 15px;
    opacity: 0.05;
    font-size: 78px;
    line-height: 58px;
    text-align: left;
    @media (min-width: $breakpoint-small) {
      font-size: 102px;
      line-height: 78px;
      top: -65px;
      left: 10px;
    }
    @media (min-width: $breakpoint-medium) {
      top: -60px;
      left: 10px;
      font-size: 164px;
      line-height: 116px;
    }
  }

  ul {
    li {
      margin-bottom: 20px;
      font-size: 20px;
      strong {
        font-family: $title-font-bold
      }
    }
  }

  h3 {
    color: $white !important;
  }
}

#industry-chart-box {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  #industry-chart {
    width: 90%;
    height: auto;
    margin: 0 auto;
    max-width: 550px;
      @media (min-width: $breakpoint-small) {
        width: 70%;

      }
        @media (min-width: $breakpoint-medium) {
          width: 50%;
        }

    svg {

      filter: drop-shadow(3px 20px 4px rgba(0,0,0,0.15));
      .cls-1,
      .cls-3,
      .cls-6 {
        fill: none;
      }

      .cls-2 {
        clip-path: url("#clip-path");
      }

      .cls-3 {
        stroke: #00aeef;
        stroke-width: 0.86px;
      }

      .cls-4 {
        fill: #a9c436;
        filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.5));
      }

      .cls-5 {
        fill: #000531;

      }

      .cls-6 {
        stroke: #a9c436;
        stroke-width: 0.44px;
      }

      .cls-7 {
        fill: #fff;
      }
    }
  }

  svg {}
}

#sponsors {
  h2 {
    font-size: 36px;
    line-height: 0.9em;
    @media (min-width: $breakpoint-small) {
      font-size: 56px;
    }
    @media (min-width: $breakpoint-medium) {}
  }

  .sponsor-card {
    background: radial-gradient(ellipse at center, #112c4f 0%,#142a44 10%);
    color: $white;
    padding: 25px 15px;
    border: thin solid $blue2;
    // background: $blue2;
    border-radius: 5px;
    box-shadow: 0 2px 12px rgba($black, 0.2);
    transition: all 0.3s $bounce;

    h3 {
      line-height: 1em;
      margin-top: 25px;
    }

    .uk-button {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    h5 {
      text-align: center;
      margin-bottom: 5px;
      margin-top: 15px;
      color: $cyan;
      @media (min-width: $breakpoint-small) {
        text-align: left;
        margin-top: 0;
      }
    }

    ul {
      text-align: center;
      list-style-type: none;
      padding-left: 0;
      margin-top: 0;
      @media (min-width: $breakpoint-small) {
        text-align: left;
        list-style-type: disc;
        padding-left: 15px;
        margin-left: 20px;
      }
      @media (min-width: $breakpoint-medium) {
        margin-left: 0;
      }
    }
  }

  .sponsor-card:hover {
    @media (min-width: $breakpoint-medium) {
      transform: scale(1.1);
    }
  }
}

#about {
  overflow: hidden;
  margin-top: 0;

  h2 {
    top: -7px;
    left: 40px;
    font-size: 136px;
    line-height: 130px;
    opacity: 0.2;
    color: $medium-gray;
    z-index: 0;
    @media (min-width: $breakpoint-small) {
      font-size: 235px;
      line-height: 225px;
      top: -20px;
      left: 35px;
    }
    @media (min-width: $breakpoint-medium) {
      top: -40px;
      left: 30px;
      font-size: 320px;
      line-height: 300px;
    }
    @media (min-width: $breakpoint-large) {
      left: 70px;
    }
  }

  .uk-button.uk-button-default {
    background: $blue;
    color: $white;
    border-radius: 3px;
  }
}
@keyframes rotateLeft {
  0% {
    transform: translate(0%, 0);
  }

  50% {
    transform: translate(2%, 0);
  }

  100% {
    transform: translate(0%, 0);
  }
}
@keyframes rotateRight {
  0% {
    transform: translate(0%, 0);
  }

  50% {
    transform: translate(-2%, 0);
  }

  100% {
    transform: translate(0%, 0);
  }
}
@keyframes rotateLeftDown {
  0% {
    transform: translate(0%, 10%);
  }

  50% {
    transform: translate(5%, 20%);
  }

  100% {
    transform: translate(0%, 10%);
  }
}
@keyframes scaleLeft {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}
@keyframes animate-width {
  0% {
    width: 19%;
    opacity: 1;
  }

  50% {
    width: 25%;
    opacity: 0.5;
  }

  100% {
    width: 19%;
    opacity: 1;
  }
}
