#logo {
  position: relative;
  display: flex;
  flex-direction: column;
  svg#st8 {
    display: block;
    align-self: flex-start;
    width: 33%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 30px;
    transition: all 0.5s $curve;
      transform-origin: bottom left;

  }
  svg#industry {
    width: 90%;
    height: auto;
    display: block;
    align-self: center;
    transition: all 0.5s $bounce;

  }
  svg#summit {
    display: block;
    align-self: flex-end;
    width: 25%;
    height: auto;
    margin-right: 5%;
    margin-top: 5px;
    transition: all 0.5s $curve;
      transform-origin: bottom right;
  }
}
#intro {
#logo:hover svg#st8 {
   transform:translateY(10px) translateX(5px) scale(.8) rotateY(5deg);
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.3));
  }
#logo:hover svg#industry {
    filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.6));
    transform: scale(1.1);
  }
#logo:hover svg#summit {
   transform:translateY(-10px) translateX(-5px) scale(.8) rotateY(-5deg);
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.4));
  }
}
