/* ---- Timeline ---- */
#timeline {
	ol {
		position: relative;
		display: flex;
		justify-content: center;
		align-items:center;
		height: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%;
		max-width: 400px;
		padding: 0px;
		li {
			position: relative;
			display: inline-block;
			width: 25%;
			height: 20px;
			text-transform: uppercase;
			font-size: 10px;
			list-style-type: none;
			z-index: 5;
			padding: 0px;
			// transform: rotate(-45deg);
		}

		li::before {
			content: "";
			position: absolute;
			top: -11px;
			left: 50%;
			margin-left: -10px;
			display: block;
			width: 20px;
			height: 20px;
			// border: 2px solid $navy;
			border-radius: 50%;
			background: $blue3;
			transition: all 0.35s $curve;
		}
	}
}

	#timeline {
		ol::before {
			content: "";
			position: absolute;
			top: -2px;
			left: 10%;
			background: $cyan;
			width: 0%;
			height: 2px;
			z-index: 3;
			transition: all 0.35s $bounce;
		}
		ol::after {
			content: "";
			position: absolute;
			top: -2px;
			right: 10%;
			background: $blue3;
			width: 80%;
			height: 2px;
			z-index: 2;
			transition: all 0.35s $curve;
		}

		ol.one::after {
			// width: 100%;
		}

		ol.two::before {
			width: 20%;
		}

		ol.three::before {
			width: 40%;
		}

		ol.four::before {
			width: 60%;
		}

		ol.five::before {
			width: 80%;
		}
		ol.six::before {
			width: 100%;
		}



		ol.one li:nth-of-type(1)::before {
			animation: pulse 1.5s ease-out infinite;
			box-shadow: 0px 0px 8px rgba($black, 0.25);
		}

		ol.two li:nth-of-type(1)::before {
			background: $cyan;
		}
		ol.two li:nth-of-type(2)::before {

			animation: pulse 1.5s ease-out infinite;
			box-shadow: 0px 0px 8px rgba($black, 0.25);
		}

		ol.three li:nth-of-type(1)::before, ol.three li:nth-of-type(2)::before {
			background: $cyan;
		}
		ol.three li:nth-of-type(3)::before {

			animation: pulse 1.5s ease-out infinite;
			box-shadow: 0px 0px 8px rgba($black, 0.25);
		}

		ol.four li:nth-of-type(1)::before, ol.four li:nth-of-type(2)::before, ol.four li:nth-of-type(3)::before {
			background: $cyan;
		}
		ol.four li:nth-of-type(4)::before {
			background: $cyan;
			// animation: pulse 1.5s ease-out infinite;
			box-shadow: 0px 0px 8px rgba($black, 0.25);
		}

		ol.five li:nth-of-type(1)::before, ol.five li:nth-of-type(2)::before, ol.five li:nth-of-type(3)::before, ol.five li:nth-of-type(4)::before {
			background: $cyan;
		}
		ol.five li:nth-of-type(5)::before {

			animation: pulse 1.5s ease-out infinite;
			box-shadow: 0px 0px 8px rgba($black, 0.25);
		}

		@keyframes pulse {
			0% {
				transform: scale(1);
				background: $blue3;
			}
			70% {
				transform: scale(1.3);
				background: $cyan;
			}
			100% {
				transform: scale(1);
				background: $blue3;
			}
		}
	}
